/* - Mobile: 375px
- Desktop: 1440px */

/* ---------------------------------- Responsive Media Queries---------------------------------- */
/******************************************
/* Smartphone
/*******************************************/
@media screen and (max-width: 440px) {
   main {
      margin: 0;
      width: 100%;
   }

   p {
      font-size: calc(1.4825rem + 0.075vw);
   }

   /* --------------------------- Notification Page --------------------------- */
   #notificationPage {
      padding: 2rem 2rem;
   }

   /* --------------------------- Header --------------------------- */
   header .contentTop {
      font-size: calc(1.01825rem + 0.075vw);
   }

   /* --------------------------- Box --------------------------- */
   .box {
      gap: 1.5rem;
      margin: 0.859rem 0;
   }

   .box > img {
      width: 5rem;
   }

   .box:nth-child(5) .notifText img {
      width: 4rem;
   }

   /* --------------------------- 5th Box --------------------------- */
   .box:nth-child(5) .notifText .img {
      display: flex;
      justify-content: flex-end;
      width: 30%;
   }
}

@media (min-width: 441px) and (max-width: 550px) {
   main {
      margin: 0;
      width: 100%;
   }

   p {
      font-size: calc(1.4825rem + 0.075vw);
   }

   /* --------------------------- Notification Page --------------------------- */
   #notificationPage {
      padding: 2rem 2rem;
   }

   /* --------------------------- Header --------------------------- */
   header .contentTop {
      font-size: calc(1.01825rem + 0.075vw);
   }

   /* --------------------------- Box --------------------------- */
   .box {
      gap: 1.5rem;
      margin: 0.859rem 0;
   }

   .box > img {
      width: 3.8rem;
   }

   .box:nth-child(1) > img {
      width: 5rem;
   }

   .box:nth-child(2) > img {
      width: 4.5rem;
   }

   .box:nth-child(3) > img {
      width: 4.3rem;
   }

   .box:nth-child(4) > img {
      width: 10rem;
   }

   .box:nth-child(5) > img {
      width: 4.8rem;
   }

   .box:nth-child(6) > img {
      width: 6.5rem;
   }

   .box:nth-child(7) > img {
      width: 4.5rem;
   }

   .box:nth-child(5) .notifText img {
      width: 5rem;
   }

   /* --------------------------- 5th Box --------------------------- */
   .box:nth-child(5) .notifText .img {
      display: flex;
      justify-content: flex-end;
      width: 30%;
   }
}

@media (min-width: 551px) and (max-width: 675px) {
   main {
      margin: 0;
      width: 100%;
   }

   p {
      font-size: calc(1.4825rem + 0.075vw);
   }

   /* --------------------------- Header --------------------------- */
   header .contentTop {
      font-size: calc(1.01825rem + 0.075vw);
   }

   /* --------------------------- Box --------------------------- */
   .box {
      gap: 1.5rem;
      margin: 0.859rem 0;
   }

   .box > img {
      width: 3.8rem;
   }

   /* --------------------------- 5th Box --------------------------- */
   .box:nth-child(5) .notifText .img {
      display: flex;
      justify-content: flex-end;
      width: 30%;
   }
}

/******************************************
/* Tablet
/*******************************************/
@media (min-width: 676px) and (max-width: 768px) {
   main {
      margin: 0;
      width: 100%;
   }

   p {
      font-size: calc(1.4825rem + 0.075vw);
   }

   /* --------------------------- Box --------------------------- */
   .box {
      gap: 1.5rem;
      margin: 0.859rem 0;
   }

   .box > img {
      width: 3.8rem;
   }

   .box:nth-child(4) > img {
      width: 6.5rem;
   }

   .box:nth-child(6) > img {
      width: 4.5rem;
   }
   
   /* --------------------------- 5th Box --------------------------- */
   .box:nth-child(5) .notifText .img {
      display: flex;
      justify-content: flex-end;
      width: 30%;
   }
}

/******************************************
/* Laptop
/*******************************************/
@media (min-width: 769px) and (max-width: 1400px) {
   main {
      margin: 3rem auto;
      width: 65%;
   }

   p {
      font-size: calc(1.4825rem + 0.075vw);
   }

   /* --------------------------- Box --------------------------- */
   .box {
      gap: 1.5rem;
      margin: 0.859rem 0;
   }

   .box > img {
      width: 3.8rem;
   }

   .box:nth-child(4) > img {
      width: 9.5rem;
   }

   .box:nth-child(6) > img {
      width: 6.5rem;
   }
   
   /* --------------------------- 5th Box --------------------------- */
   .box:nth-child(5) .notifText .img {
      display: flex;
      justify-content: flex-end;
      width: 30%;
   }
}

/******************************************
/* Widescreen
/*******************************************/
@media (min-width: 1441px) and (max-width: 1899px) {
}

/******************************************
/* Ultra Widescreen
/*******************************************/
@media (min-width: 1880px) and (max-width: 1900px) {
}
