/* --------------------------- Colors --------------------------- */
:root {
   /* ### Primary */
   --red: hsl(1, 90%, 64%);
   --blue: hsl(219, 85%, 26%);

   /* ### Neutral */
   --white: hsl(0, 0%, 100%);
   --very-light-grayish-blue: hsl(210, 60%, 98%);
   --light-grayish-blue-1: hsl(211, 68%, 94%);
   --light-grayish-blue-2: hsl(205, 33%, 90%);
   --grayish-blue: hsl(219, 14%, 63%);
   --dark-grayish-blue: hsl(219, 12%, 42%);
   --very-dark-blue: hsl(224, 21%, 14%);
}

/* --------------------------- Reset --------------------------- */
* {
   margin: 0;
   padding: 0;
   overflow: hidden;
   box-sizing: border-box;
}

html {
   font-size: 62.5%; /* 1rem = 10px */
}

body {
   font-family: "Plus Jarkarta Sans", sans-serif;
   height: 100vh;
   background: var(--very-light-grayish-blue);
   overflow-x: hidden;
}

/* --------------------------- Layout Styling --------------------------- */
main {
   margin: 3rem auto;
   width: 36%;
}

/* .container {
   margin: 2rem;
} */

p {
   font-size: 1.5rem;
   color: var(--grayish-blue);
   word-spacing: -0.1rem;
   cursor: pointer;
}

/* --------------------------- Notification Page --------------------------- */
#notificationPage {
   background: var(--white);
   padding: 3rem 2.5rem;
   border-radius: 1.5rem;
}

/* --------------------------- Header --------------------------- */
header .headingContent {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header .contentTop {
   font-weight: 800;
   font-size: 1.1rem;
   display: flex;
   gap: 1rem;
   justify-content: flex-start;
   align-items: center;
}

header .contentTop span {
   font-size: 1.2rem;
   background: var(--blue);
   color: var(--white);
   padding: 0.3rem 0.9rem;
   border-radius: 0.5rem;
}

header .contentBottom p:hover {
   color: var(--blue);
}

/* --------------------------- Box --------------------------- */
.box {
   padding: 1.5rem;
   margin: 0.7rem 0;
   display: flex;
   align-items: flex-start;
   /* justify-content: space-between; */
   gap: 2rem;
}

.unread {
   background: var(--very-light-grayish-blue);
   border-radius: 0.5rem;
}

.box > img {
   width: 4rem;
}

.box:nth-child(4) > img {
   width: 7.5rem;
}

.box:nth-child(5) > img {
   width: 4.3rem;
}

.box:nth-child(6) > img {
   width: 5rem;
}

.notifText,
.opened,
.box:nth-child(5) .notifText .picture {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.bold{
   font-weight: 700;
   color: var(--very-dark-blue);
}

.post,
.group {
   font-weight: 700;
   color: var(--dark-grayish-blue);
}

.group:hover,
.post:hover,
.bold:hover {
   color: var(--blue);
}

.highlight {
   display: inline-block;
   margin-left: 0.5rem;
   background: var(--red);
   border-radius: 50%;
   width: 0.7rem;
   height: 0.7rem;
}

.time {
   font-weight: 200;
}

/* --------------------------- 4th Box --------------------------- */
.box:nth-child(4) {
   align-items: flex-start;
}

.box:nth-child(4) .notifText {
   display: flex;
   flex-direction: column;
   gap: 1.4rem;
}

.openedMessage {
   border: 0.1rem solid var(--light-grayish-blue-2);
   border-radius: 0.3rem;
   padding: 1.3rem;
}

.openedMessage:hover {
   border: 0.1rem solid var(--light-grayish-blue-1);
   background: var(--light-grayish-blue-1);
}

/* --------------------------- 5th Box --------------------------- */
.box:nth-child(5) .notifText {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   align-items: flex-start;
}

.box:nth-child(5) .notifText img {
   width: 5rem;
}

.img {
   cursor: pointer;
}

.box:last-child {
   margin: 0.7rem 0 0 0;
   padding: 1.5rem 1.5rem 0 1.5rem;
}