@font-face {
   font-family: "Plus Jarkarta Sans";
   font-style: normal;
   font-weight: 800;
   src: local("Plus Jarkarta Sans Extra Bold"),
      url("PlusJarkartaSans-ExtraBold.woff") format("woff");
}

@font-face {
   font-family: "Plus Jarkarta Sans";
   font-style: normal;
   font-weight: 500;
   src: local("Plus Jarkarta Sans Medium"),
      url("PlusJarkartaSans-Medium.woff") format("woff");
}

/* 200 - 700 */
@font-face {
   font-family: "Plus Jarkarta Sans";
   font-style: normal;
   font-weight: 100 700;
   src: local("Plus Jarkarta Sans Variable Font"),
      url("PlusJarkartaSans-VariableFont.woff") format("woff");
}
